<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1XvowdyA85dCHJHe6CKgB7gvu8R3eXbY</string>
	<key>GCM_SENDER_ID</key>
	<string>678770057313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialmedia</string>
	<key>PROJECT_ID</key>
	<string>flutterloginregister-ade70</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterloginregister-ade70.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:678770057313:ios:d2440e76ddd94545050a20</string>
</dict>
</plist>